In [24]:
import pandas as pd
import numpy as np

df=pd.read_csv("C:/Users/Administrator/Documents/python/class/Jupiter notebooks/DataSets/terror/Store.csv",encoding="latin")
print(df)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0          1  CA-2013-152156   11/9/2013  11/12/2013    Second Class
1          2  CA-2013-152156   11/9/2013  11/12/2013    Second Class
2          3  CA-2013-138688   6/13/2013   6/17/2013    Second Class
3          4  US-2012-108966  10/11/2012  10/18/2012  Standard Class
4          5  US-2012-108966  10/11/2012  10/18/2012  Standard Class
5          6  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
6          7  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
7          8  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
8          9  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
9         10  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
10        11  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
11        12  CA-2011-115812    6/9/2011   6/14/2011  Standard Class
12        13  CA-2014-114412   4/16/2014   4/21/2014  Standard Class
13        14  CA-2013-161389   12/6/2013  12/11/2013  Standard Class
14        15  US-2012-118983  11/22/2012  11/26/2012  Standard Class
15        16  US-2012-118983  11/22/2012  11/26/2012  Standard Class
16        17  CA-2011-105893  11/11/2011  11/18/2011  Standard Class
17        18  CA-2011-167164   5/13/2011   5/15/2011    Second Class
18        19  CA-2011-143336   8/27/2011    9/1/2011    Second Class
19        20  CA-2011-143336   8/27/2011    9/1/2011    Second Class
20        21  CA-2011-143336   8/27/2011    9/1/2011    Second Class
21        22  CA-2013-137330  12/10/2013  12/14/2013  Standard Class
22        23  CA-2013-137330  12/10/2013  12/14/2013  Standard Class
23        24  US-2014-156909   7/17/2014   7/19/2014    Second Class
24        25  CA-2012-106320   9/25/2012   9/30/2012  Standard Class
25        26  CA-2013-121755   1/16/2013   1/20/2013    Second Class
26        27  CA-2013-121755   1/16/2013   1/20/2013    Second Class
27        28  US-2012-150630   9/17/2012   9/21/2012  Standard Class
28        29  US-2012-150630   9/17/2012   9/21/2012  Standard Class
29        30  US-2012-150630   9/17/2012   9/21/2012  Standard Class
...      ...             ...         ...         ...             ...
9964    9965  CA-2013-146374   12/6/2013  12/11/2013    Second Class
9965    9966  CA-2013-146374   12/6/2013  12/11/2013    Second Class
9966    9967  CA-2013-146374   12/6/2013  12/11/2013    Second Class
9967    9968  CA-2014-153871  12/12/2014  12/18/2014  Standard Class
9968    9969  CA-2014-153871  12/12/2014  12/18/2014  Standard Class
9969    9970  CA-2014-153871  12/12/2014  12/18/2014  Standard Class
9970    9971  CA-2012-103772   6/28/2012    7/2/2012  Standard Class
9971    9972  CA-2012-103772   6/28/2012    7/2/2012  Standard Class
9972    9973  CA-2013-130225   9/12/2013   9/18/2013  Standard Class
9973    9974  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9974    9975  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9975    9976  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9976    9977  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9977    9978  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9978    9979  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9979    9980  US-2013-103674   12/7/2013  12/11/2013  Standard Class
9980    9981  US-2012-151435    9/6/2012    9/9/2012    Second Class
9981    9982  CA-2014-163566    8/4/2014    8/7/2014     First Class
9982    9983  US-2013-157728   9/23/2013   9/29/2013  Standard Class
9983    9984  US-2013-157728   9/23/2013   9/29/2013  Standard Class
9984    9985  CA-2012-100251   5/17/2012   5/23/2012  Standard Class
9985    9986  CA-2012-100251   5/17/2012   5/23/2012  Standard Class
9986    9987  CA-2013-125794   9/30/2013   10/4/2013  Standard Class
9987    9988  CA-2014-163629  11/18/2014  11/22/2014  Standard Class
9988    9989  CA-2014-163629  11/18/2014  11/22/2014  Standard Class
9989    9990  CA-2011-110422   1/22/2011   1/24/2011    Second Class
9990    9991  CA-2014-121258   2/27/2014    3/4/2014  Standard Class
9991    9992  CA-2014-121258   2/27/2014    3/4/2014  Standard Class
9992    9993  CA-2014-121258   2/27/2014    3/4/2014  Standard Class
9993    9994  CA-2014-119914    5/5/2014   5/10/2014    Second Class

     Customer ID       Customer Name      Segment        Country  \
0       CG-12520         Claire Gute     Consumer  United States
1       CG-12520         Claire Gute     Consumer  United States
2       DV-13045     Darrin Van Huff    Corporate  United States
3       SO-20335      Sean O'Donnell     Consumer  United States
4       SO-20335      Sean O'Donnell     Consumer  United States
5       BH-11710     Brosina Hoffman     Consumer  United States
6       BH-11710     Brosina Hoffman     Consumer  United States
7       BH-11710     Brosina Hoffman     Consumer  United States
8       BH-11710     Brosina Hoffman     Consumer  United States
9       BH-11710     Brosina Hoffman     Consumer  United States
10      BH-11710     Brosina Hoffman     Consumer  United States
11      BH-11710     Brosina Hoffman     Consumer  United States
12      AA-10480        Andrew Allen     Consumer  United States
13      IM-15070        Irene Maddox     Consumer  United States
14      HP-14815       Harold Pawlan  Home Office  United States
15      HP-14815       Harold Pawlan  Home Office  United States
16      PK-19075           Pete Kriz     Consumer  United States
17      AG-10270     Alejandro Grove     Consumer  United States
18      ZD-21925  Zuschuss Donatelli     Consumer  United States
19      ZD-21925  Zuschuss Donatelli     Consumer  United States
20      ZD-21925  Zuschuss Donatelli     Consumer  United States
21      KB-16585           Ken Black    Corporate  United States
22      KB-16585           Ken Black    Corporate  United States
23      SF-20065     Sandra Flanagan     Consumer  United States
24      EB-13870         Emily Burns     Consumer  United States
25      EH-13945       Eric Hoffmann     Consumer  United States
26      EH-13945       Eric Hoffmann     Consumer  United States
27      TB-21520     Tracy Blumstein     Consumer  United States
28      TB-21520     Tracy Blumstein     Consumer  United States
29      TB-21520     Tracy Blumstein     Consumer  United States
...          ...                 ...          ...            ...
9964    HE-14800        Harold Engle    Corporate  United States
9965    HE-14800        Harold Engle    Corporate  United States
9966    HE-14800        Harold Engle    Corporate  United States
9967    RB-19435     Richard Bierner     Consumer  United States
9968    RB-19435     Richard Bierner     Consumer  United States
9969    RB-19435     Richard Bierner     Consumer  United States
9970    MP-17470         Mark Packer  Home Office  United States
9971    MP-17470         Mark Packer  Home Office  United States
9972    RC-19960          Ryan Crowe     Consumer  United States
9973    AP-10720          Anne Pryor  Home Office  United States
9974    AP-10720          Anne Pryor  Home Office  United States
9975    AP-10720          Anne Pryor  Home Office  United States
9976    AP-10720          Anne Pryor  Home Office  United States
9977    AP-10720          Anne Pryor  Home Office  United States
9978    AP-10720          Anne Pryor  Home Office  United States
9979    AP-10720          Anne Pryor  Home Office  United States
9980    SW-20455         Shaun Weien     Consumer  United States
9981    TB-21055     Ted Butterfield     Consumer  United States
9982    RC-19960          Ryan Crowe     Consumer  United States
9983    RC-19960          Ryan Crowe     Consumer  United States
9984    DV-13465    Dianna Vittorini     Consumer  United States
9985    DV-13465    Dianna Vittorini     Consumer  United States
9986    ML-17410        Maris LaWare     Consumer  United States
9987    RA-19885        Ruben Ausman    Corporate  United States
9988    RA-19885        Ruben Ausman    Corporate  United States
9989    TB-21400    Tom Boeckenhauer     Consumer  United States
9990    DB-13060         Dave Brooks     Consumer  United States
9991    DB-13060         Dave Brooks     Consumer  United States
9992    DB-13060         Dave Brooks     Consumer  United States
9993    CC-12220        Chris Cortes     Consumer  United States

                 City    ...     Postal Code   Region       Product ID  \
0           Henderson    ...           42420    South  FUR-BO-10001798
1           Henderson    ...           42420    South  FUR-CH-10000454
2         Los Angeles    ...           90036     West  OFF-LA-10000240
3     Fort Lauderdale    ...           33311    South  FUR-TA-10000577
4     Fort Lauderdale    ...           33311    South  OFF-ST-10000760
5         Los Angeles    ...           90032     West  FUR-FU-10001487
6         Los Angeles    ...           90032     West  OFF-AR-10002833
7         Los Angeles    ...           90032     West  TEC-PH-10002275
8         Los Angeles    ...           90032     West  OFF-BI-10003910
9         Los Angeles    ...           90032     West  OFF-AP-10002892
10        Los Angeles    ...           90032     West  FUR-TA-10001539
11        Los Angeles    ...           90032     West  TEC-PH-10002033
12            Concord    ...           28027    South  OFF-PA-10002365
13            Seattle    ...           98103     West  OFF-BI-10003656
14         Fort Worth    ...           76106  Central  OFF-AP-10002311
15         Fort Worth    ...           76106  Central  OFF-BI-10000756
16            Madison    ...           53711  Central  OFF-ST-10004186
17        West Jordan    ...           84084     West  OFF-ST-10000107
18      San Francisco    ...           94109     West  OFF-AR-10003056
19      San Francisco    ...           94109     West  TEC-PH-10001949
20      San Francisco    ...           94109     West  OFF-BI-10002215
21            Fremont    ...           68025  Central  OFF-AR-10000246
22            Fremont    ...           68025  Central  OFF-AP-10001492
23       Philadelphia    ...           19140     East  FUR-CH-10002774
24               Orem    ...           84057     West  FUR-TA-10000577
25        Los Angeles    ...           90049     West  OFF-BI-10001634
26        Los Angeles    ...           90049     West  TEC-AC-10003027
27       Philadelphia    ...           19140     East  FUR-BO-10004834
28       Philadelphia    ...           19140     East  OFF-BI-10000474
29       Philadelphia    ...           19140     East  FUR-FU-10004848
...               ...    ...             ...      ...              ...
9964           Newark    ...           19711     East  FUR-FU-10002671
9965           Newark    ...           19711     East  OFF-PA-10000349
9966           Newark    ...           19711     East  OFF-EN-10004483
9967       Plainfield    ...            7060     East  OFF-BI-10004209
9968       Plainfield    ...            7060     East  OFF-BI-10004600
9969       Plainfield    ...            7060     East  OFF-AP-10003622
9970           Smyrna    ...           30080    South  OFF-BI-10002867
9971           Smyrna    ...           30080    South  OFF-AR-10000538
9972          Houston    ...           77041  Central  OFF-EN-10000056
9973      Los Angeles    ...           90032     West  TEC-PH-10004080
9974      Los Angeles    ...           90032     West  OFF-AR-10004752
9975      Los Angeles    ...           90032     West  OFF-PA-10000743
9976      Los Angeles    ...           90032     West  TEC-PH-10002496
9977      Los Angeles    ...           90032     West  OFF-FA-10003467
9978      Los Angeles    ...           90032     West  OFF-BI-10003727
9979      Los Angeles    ...           90032     West  OFF-BI-10002026
9980        Lafayette    ...           70506    South  FUR-TA-10001039
9981        Fairfield    ...           45014     East  OFF-LA-10004484
9982     Grand Rapids    ...           49505  Central  OFF-PA-10002195
9983     Grand Rapids    ...           49505  Central  TEC-PH-10001305
9984       Long Beach    ...           11561     East  OFF-LA-10003766
9985       Long Beach    ...           11561     East  OFF-SU-10000898
9986      Los Angeles    ...           90008     West  TEC-AC-10003399
9987           Athens    ...           30605    South  TEC-AC-10001539
9988           Athens    ...           30605    South  TEC-PH-10004006
9989            Miami    ...           33180    South  FUR-FU-10001889
9990       Costa Mesa    ...           92627     West  FUR-FU-10000747
9991       Costa Mesa    ...           92627     West  TEC-PH-10003645
9992       Costa Mesa    ...           92627     West  OFF-PA-10004041
9993      Westminster    ...           92683     West  OFF-AP-10002684

             Category Sub-Category  \
0           Furniture    Bookcases
1           Furniture       Chairs
2     Office Supplies       Labels
3           Furniture       Tables
4     Office Supplies      Storage
5           Furniture  Furnishings
6     Office Supplies          Art
7          Technology       Phones
8     Office Supplies      Binders
9     Office Supplies   Appliances
10          Furniture       Tables
11         Technology       Phones
12    Office Supplies        Paper
13    Office Supplies      Binders
14    Office Supplies   Appliances
15    Office Supplies      Binders
16    Office Supplies      Storage
17    Office Supplies      Storage
18    Office Supplies          Art
19         Technology       Phones
20    Office Supplies      Binders
21    Office Supplies          Art
22    Office Supplies   Appliances
23          Furniture       Chairs
24          Furniture       Tables
25    Office Supplies      Binders
26         Technology  Accessories
27          Furniture    Bookcases
28    Office Supplies      Binders
29          Furniture  Furnishings
...               ...          ...
9964        Furniture  Furnishings
9965  Office Supplies        Paper
9966  Office Supplies    Envelopes
9967  Office Supplies      Binders
9968  Office Supplies      Binders
9969  Office Supplies   Appliances
9970  Office Supplies      Binders
9971  Office Supplies          Art
9972  Office Supplies    Envelopes
9973       Technology       Phones
9974  Office Supplies          Art
9975  Office Supplies        Paper
9976       Technology       Phones
9977  Office Supplies    Fasteners
9978  Office Supplies      Binders
9979  Office Supplies      Binders
9980        Furniture       Tables
9981  Office Supplies       Labels
9982  Office Supplies        Paper
9983       Technology       Phones
9984  Office Supplies       Labels
9985  Office Supplies     Supplies
9986       Technology  Accessories
9987       Technology  Accessories
9988       Technology       Phones
9989        Furniture  Furnishings
9990        Furniture  Furnishings
9991       Technology       Phones
9992  Office Supplies        Paper
9993  Office Supplies   Appliances

                                           Product Name      Sales  Quantity  \
0                     Bush Somerset Collection Bookcase   261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...    14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table   957.5775         5
4                        Eldon Fold 'N Roll Cart System    22.3680         2
5     Eldon Expressions Wood and Plastic Desk Access...    48.8600         7
6                                            Newell 322     7.2800         4
7                        Mitel 5320 IP Phone VoIP phone   907.1520         6
8     DXL Angle-View Binders with Locking Rings by S...    18.5040         3
9                      Belkin F5C206VTEL 6 Outlet Surge   114.9000         5
10             Chromcraft Rectangular Conference Tables  1706.1840         9
11        Konftel 250 Conference phone - Charcoal black   911.4240         4
12                                           Xerox 1967    15.5520         3
13          Fellowes PB200 Plastic Comb Binding Machine   407.9760         3
14    Holmes Replacement Filter for HEPA Air Cleaner...    68.8100         5
15     Storex DuraTech Recycled Plastic Frosted Binders     2.5440         3
16    Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x...   665.8800         6
17                           Fellowes Super Stor/Drawer    55.5000         2
18                                           Newell 341     8.5600         2
19                              Cisco SPA 501G IP Phone   213.4800         3
20          Wilson Jones Hanging View Binder, White, 1"    22.7200         4
21                                           Newell 318    19.4600         7
22          Acco Six-Outlet Power Strip, 4' Cord Length    60.3400         7
23                   Global Deluxe Stacking Chair, Gray    71.3720         2
24        Bretford CR4500 Series Slim Rectangular Table  1044.6300         3
25                      Wilson Jones Active Use Binders    11.6480         2
26     Imation 8GB Mini TravelDrive USB 2.0 Flash Drive    90.5700         3
27    Riverside Palais Royal Lawyers Bookcase, Royal...  3083.4300         7
28    Avery Recycled Flexi-View Covers for Binding S...     9.6180         2
29    Howard Miller 13-3/4" Diameter Brushed Chrome ...   124.2000         3
...                                                 ...        ...       ...
9964  Electrix 20W Halogen Replacement Bulb for Zoom...    13.4000         1
9965                                  Easy-staple paper     4.9800         1
9966         #10 White Business Envelopes,4 1/8 x 9 1/2   109.6900         7
9967            Fellowes Twister Kit, Gray/Clear, 3/pkg    40.2000         5
9968          Ibico Ibimaster 300 Manual Binding System   735.9800         2
9969  Bravo II Megaboss 12-Amp Hard Body Upright, Re...    22.7500         7
9970            GBC Recycled Regency Composition Covers   119.5600         2
9971  Boston Model 1800 Electric Pencil Sharpener, Gray   140.7500         5
9972                        Cameo Buff Policy Envelopes    99.5680         2
9973                           Avaya 5410 Digital phone   271.9600         5
9974                               Blackstonian Pencils    18.6900         7
9975                                         Xerox 1977    13.3600         2
9976                                       Cisco SPA301   249.5840         2
9977           Alliance Big Bands Rubber Bands, 12/Pack    13.8600         7
9978  Avery Durable Slant Ring Binders With Label Ho...    13.3760         4
9979                  Ibico Recycled Linen-Style Covers   437.4720        14
9980                         KI Adjustable-Height Table    85.9800         1
9981                                          Avery 476    16.5200         5
9982  RSVP Cards & Envelopes, Blank White, 8-1/2" X ...    35.5600         7
9983                   Panasonic KX TS208W Corded phone    97.9800         2
9984                     Self-Adhesive Removable Labels    31.5000        10
9985  Acme Hot Forged Carbon Steel Scissors with Nic...    55.6000         4
9986  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...    36.2400         1
9987  Logitech G430 Surround Sound Gaming Headset wi...    79.9900         1
9988                    Panasonic KX - TS880B Telephone   206.1000         5
9989                             Ultra Door Pull Handle    25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...    91.9600         2
9991                              Aastra 57i VoIP phone   258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"    29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...   243.1600         2

      Discount     Profit
0         0.00    41.9136
1         0.00   219.5820
2         0.00     6.8714
3         0.45  -383.0310
4         0.20     2.5164
5         0.00    14.1694
6         0.00     1.9656
7         0.20    90.7152
8         0.20     5.7825
9         0.00    34.4700
10        0.20    85.3092

In [30]:
#•	How many unique cities are the orders being delivered to

df.City.unique()

array(['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord',
       'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco',
       'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson',
       'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover',
       'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert',
       'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham',
       'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul',
       'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus',
       'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville',
       'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale',
       'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe',
       'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield',
       'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina',
       'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville',
       'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown',
       'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs',
       'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada',
       'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia',
       'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester',
       'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines',
       'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach',
       'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle',
       'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge',
       'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville',
       'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls',
       'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim',
       'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn',
       'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills',
       'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler',
       'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast',
       'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton',
       'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville',
       'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee',
       'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick',
       'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington',
       'Riverside', 'Torrance', 'Round Rock', 'Boca Raton',
       'Virginia Beach', 'Murrieta', 'Olympia', 'Washington',
       'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville',
       'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell',
       'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing',
       'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak',
       'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach',
       'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids',
       'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown',
       'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna',
       'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale',
       'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona',
       'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel',
       'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue',
       'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette',
       'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne',
       'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond',
       'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend',
       'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville',
       'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson',
       'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City',
       'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy',
       'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton',
       'Ormond Beach', 'Sunnyvale', 'York', 'College Station',
       'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City',
       'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton',
       'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls',
       'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks',
       'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella',
       'Elmhurst', 'Passaic', 'North Charleston', 'Newport News',
       'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville',
       'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling',
       'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover',
       'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach',
       'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange',
       'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville',
       'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire',
       'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian',
       'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City',
       'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia',
       'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe',
       'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe',
       'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami',
       'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa',
       'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton',
       'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood',
       'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow',
       'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen',
       'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights',
       'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo',
       'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor',
       'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston',
       'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens',
       'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park',
       'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa',
       'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena',
       'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island',
       'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara',
       'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa',
       'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest',
       'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro',
       'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City',
       'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview',
       'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly',
       'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach',
       'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro',
       'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene',
       'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank',
       'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis',
       'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City',
       'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford',
       'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls',
       'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan',
       'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange',
       'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente',
       'San Luis Obispo', 'Springdale', 'Lodi', 'Mason'], dtype=object)

In [37]:
#•	What is the total quantity sold in the East Region?
print(df.loc[df['Region']=='East']['Quantity'].count())

2848

In [39]:
#•	Find the sum of the quantity sold in the East Region

print(df.loc[df['Region']=='East']['Quantity'].sum())

10618

In [42]:
#•	In the south region sort the sales in decreasing order

print(df.loc[df['Region']=='South'].sort_values('Sales',ascending=False))

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
2697    2698  CA-2011-145317   3/18/2011   3/23/2011  Standard Class
8488    8489  CA-2013-158841    2/2/2013    2/4/2013    Second Class
683      684  US-2014-168116   11/5/2014   11/5/2014        Same Day
509      510  CA-2012-145352   3/16/2012   3/22/2012  Standard Class
4297    4298  CA-2014-129021   8/24/2014   8/27/2014    Second Class
9639    9640  CA-2012-116638   1/28/2012   1/31/2012    Second Class
3280    3281  CA-2011-102988    4/5/2011    4/9/2011    Second Class
7583    7584  CA-2011-163223   3/21/2011   3/25/2011  Standard Class
4093    4094  CA-2012-102491   8/24/2012   8/28/2012  Standard Class
1454    1455  CA-2013-133711  11/27/2013  11/30/2013     First Class
5562    5563  CA-2014-133263    4/1/2014    4/3/2014    Second Class
8312    8313  US-2014-105935   1/27/2014    2/1/2014  Standard Class
8236    8237  CA-2014-102204    5/2/2014    5/7/2014  Standard Class
994      995  CA-2011-117639   5/21/2011   5/25/2011  Standard Class
2848    2849  CA-2014-157854    4/9/2014   4/16/2014  Standard Class
4128    4129  CA-2011-127299   9/19/2011   9/24/2011  Standard Class
7474    7475  CA-2011-167199    1/7/2011   1/11/2011  Standard Class
3580    3581  CA-2013-104157   7/26/2013   7/30/2013  Standard Class
5320    5321  US-2014-162558   10/3/2014   10/6/2014     First Class
5300    5301  CA-2013-113831   5/31/2013    6/4/2013  Standard Class
4881    4882  CA-2014-143567   11/3/2014   11/6/2014    Second Class
1155    1156  CA-2011-136567  12/20/2011  12/21/2011     First Class
8699    8700  CA-2014-119284   6/16/2014   6/21/2014  Standard Class
8680    8681  CA-2013-143805   12/2/2013   12/4/2013    Second Class
5301    5302  CA-2013-113831   5/31/2013    6/4/2013  Standard Class
8993    8994  CA-2014-159100  10/17/2014  10/22/2014  Standard Class
7846    7847  CA-2012-125976   9/27/2012   10/2/2012  Standard Class
1433    1434  CA-2011-120768  12/19/2011  12/21/2011    Second Class
5185    5186  CA-2012-134719  10/10/2012  10/15/2012  Standard Class
9033    9034  CA-2011-152268    9/2/2011    9/7/2011  Standard Class
...      ...             ...         ...         ...             ...
3381    3382  US-2014-162208   8/28/2014   8/31/2014     First Class
8850    8851  CA-2012-140718    7/2/2012    7/4/2012     First Class
865      866  CA-2011-149020   1/11/2011   1/16/2011  Standard Class
3589    3590  CA-2014-146535  11/25/2014   12/1/2014  Standard Class
7573    7574  CA-2011-100916  10/21/2011  10/26/2011  Standard Class
7805    7806  CA-2012-102260   9/22/2012   9/26/2012  Standard Class
2217    2218  CA-2011-151953   9/20/2011   9/25/2011  Standard Class
2120    2121  US-2014-168690    1/8/2014   1/14/2014  Standard Class
4155    4156  CA-2013-139689  12/30/2013    1/4/2014  Standard Class
4300    4301  CA-2014-129021   8/24/2014   8/27/2014    Second Class
5893    5894  CA-2014-159954   9/11/2014   9/15/2014  Standard Class
2665    2666  CA-2013-164784    5/2/2013    5/5/2013     First Class
506      507  CA-2012-145352   3/16/2012   3/22/2012  Standard Class
3687    3688  CA-2013-108567   5/21/2013   5/25/2013  Standard Class
8207    8208  CA-2012-122266   4/26/2012   4/30/2012  Standard Class
8579    8580  CA-2013-111605  12/28/2013    1/3/2014  Standard Class
4913    4914  CA-2014-127306   1/15/2014   1/19/2014  Standard Class
8215    8216  CA-2012-120845   9/25/2012   10/2/2012  Standard Class
2779    2780  CA-2014-108322    5/1/2014    5/6/2014  Standard Class
4878    4879  US-2013-131891   7/30/2013    8/1/2013     First Class
5440    5441  US-2014-153633  11/14/2014  11/19/2014    Second Class
3769    3770  CA-2011-153913  12/16/2011  12/20/2011    Second Class
7311    7312  CA-2012-162761   10/9/2012  10/13/2012  Standard Class
5479    5480  CA-2011-101770   3/31/2011    4/4/2011  Standard Class
4005    4006  US-2012-168732  12/10/2012  12/16/2012  Standard Class
8317    8318  CA-2014-130904   4/12/2014   4/17/2014  Standard Class
7900    7901  CA-2014-128363   8/14/2014   8/19/2014  Standard Class
6597    6598  CA-2011-169257    6/6/2011   6/12/2011  Standard Class
9382    9383  CA-2011-154158  12/23/2011  12/27/2011    Second Class
2605    2606  CA-2011-112718  12/16/2011  12/21/2011  Standard Class

     Customer ID         Customer Name      Segment        Country  \
2697    SM-20320           Sean Miller  Home Office  United States
8488    SE-20110          Sanjit Engle     Consumer  United States
683     GT-14635        Grant Thornton    Corporate  United States
509     CM-12385  Christopher Martinez     Consumer  United States
4297    PO-18850       Patrick O'Brill     Consumer  United States
9639    JH-15985           Joseph Holt     Consumer  United States
3280    GM-14695          Greg Maxwell    Corporate  United States
7583    KH-16690      Kristen Hastings    Corporate  United States
4093    KW-16435       Katrina Willman     Consumer  United States
1454    MC-17425          Mark Cousins    Corporate  United States
5562    JE-15610               Jim Epp    Corporate  United States
8312    BD-11500       Bradley Drucker     Consumer  United States
8236    CJ-12010       Caroline Jumper     Consumer  United States
994     MW-18235      Mitch Willingham    Corporate  United States
2848    DM-13345         Denise Monton    Corporate  United States
4128    JL-15835              John Lee     Consumer  United States
7474    ME-17320         Maria Etezadi  Home Office  United States
3580    MT-17815           Meg Tillman     Consumer  United States
5320    Dp-13240           Dean percer  Home Office  United States
5300    AH-10690         Anna Häberlin    Corporate  United States
4881    TB-21175         Thomas Boland    Corporate  United States
1155    PS-19045       Penelope Sewall  Home Office  United States
8699    TS-21205           Thomas Seio    Corporate  United States
8680    JD-15895      Jonathan Doherty    Corporate  United States
5301    AH-10690         Anna Häberlin    Corporate  United States
8993    VP-21760      Victoria Pisteka    Corporate  United States
7846    JK-15205          Jamie Kunitz     Consumer  United States
1433    IM-15070          Irene Maddox     Consumer  United States
5185    JD-15790            John Dryer     Consumer  United States
9033    SC-20095          Sanjit Chand     Consumer  United States
...          ...                   ...          ...            ...
3381    SP-20620      Stefania Perrino    Corporate  United States
8850    FA-14230        Frank Atkinson    Corporate  United States
865     AJ-10780        Anthony Jacobs    Corporate  United States
3589    FM-14290          Frank Merwin  Home Office  United States
7573    FH-14275          Frank Hawley    Corporate  United States
7805    SJ-20125         Sanjit Jacobs  Home Office  United States
2217    DB-13555       Dorothy Badders    Corporate  United States
2120    TS-21085         Thais Sissman     Consumer  United States
4155    MP-17965         Michael Paige    Corporate  United States
4300    PO-18850       Patrick O'Brill     Consumer  United States
5893    SS-20410       Shahid Shariari     Consumer  United States
2665    HF-14995       Herbert Flentye     Consumer  United States
506     CM-12385  Christopher Martinez     Consumer  United States
3687    DB-13210           Dean Braden     Consumer  United States
8207    SA-20830          Sue Ann Reed     Consumer  United States
8579    JW-15955        Joni Wasserman     Consumer  United States
4913    BH-11710       Brosina Hoffman     Consumer  United States
8215    ML-17395   Marina Lichtenstein    Corporate  United States
2779    SS-20140      Saphhira Shifley    Corporate  United States
4878    PW-19240          Pierre Wener     Consumer  United States
5440    TC-21295         Toby Carlisle     Consumer  United States
3769    KB-16585             Ken Black    Corporate  United States
7311    SC-20575          Sonia Cooley     Consumer  United States
5479    KB-16240            Karen Bern    Corporate  United States
4005    KM-16660          Khloe Miller     Consumer  United States
8317    HM-14980     Henry MacAllister     Consumer  United States
7900    DC-12850          Dan Campbell     Consumer  United States
6597    SV-20785      Stewart Visinsky     Consumer  United States
9382    CC-12670        Craig Carreira     Consumer  United States
2605    KN-16450           Kean Nguyen    Corporate  United States

                  City    ...     Postal Code  Region       Product ID  \
2697      Jacksonville    ...           32216   South  TEC-MA-10002412
8488         Arlington    ...           22204   South  TEC-MA-10001127
683         Burlington    ...           27217   South  TEC-MA-10004125
509            Atlanta    ...           30318   South  OFF-BI-10003527
4297       Tallahassee    ...           32303   South  TEC-PH-10001459
9639           Concord    ...           28027   South  FUR-TA-10000198
3280        Alexandria    ...           22304   South  OFF-SU-10002881
7583       Springfield    ...           22153   South  TEC-PH-10000730
4093          Florence    ...           41042   South  TEC-MA-10000864
1454            Mobile    ...           36608   South  TEC-MA-10000010
5562           Atlanta    ...           30318   South  TEC-CO-10001449
8312          Columbus    ...           31907   South  TEC-PH-10001459
8236      Jacksonville    ...           32216   South  FUR-CH-10002024
994     Virginia Beach    ...           23464   South  OFF-BI-10003925
2848           Roswell    ...           30076   South  OFF-BI-10001359
4128         Charlotte    ...           28205   South  TEC-MA-10001127
7474         Henderson    ...           42420   South  FUR-CH-10004063
3580           Jackson    ...           39212   South  FUR-TA-10004915
5320         Knoxville    ...           37918   South  FUR-TA-10000198
5300       Springfield    ...           22153   South  FUR-TA-10002645
4881         Henderson    ...           42420   South  TEC-AC-10004145
1155      Harrisonburg    ...           22801   South  FUR-TA-10001932
8699         Nashville    ...           37211   South  TEC-PH-10000560
8680          Richmond    ...           23223   South  OFF-AP-10002945
5301       Springfield    ...           22153   South  TEC-AC-10003033
8993          Columbia    ...           38401   South  FUR-TA-10001950
7846         Arlington    ...           22204   South  TEC-PH-10002496
1433          Florence    ...           35630   South  FUR-CH-10000513
5185      Jacksonville    ...           32216   South  OFF-ST-10004459
9033      Fayetteville    ...           72701   South  OFF-BI-10001359
...                ...    ...             ...     ...              ...
3381             Tampa    ...           33614   South  OFF-EN-10004030
8850           Raleigh    ...           27604   South  OFF-BI-10004728
865        Springfield    ...           22153   South  OFF-LA-10004272
3589          Richmond    ...           40475   South  OFF-BI-10000546
7573      Newport News    ...           23602   South  OFF-AR-10001022
7805          Franklin    ...           37064   South  OFF-AR-10001315
2217      Jacksonville    ...           32216   South  OFF-AR-10003469
2120      Ormond Beach    ...           32174   South  OFF-BI-10000145
4155           Bristol    ...           37620   South  OFF-BI-10000145
4300       Tallahassee    ...           32303   South  FUR-FU-10001852
5893           Atlanta    ...           30318   South  OFF-BI-10004876
2665           Memphis    ...           38109   South  OFF-BI-10002954
506            Atlanta    ...           30318   South  OFF-AR-10001662
3687  Port Saint Lucie    ...           34952   South  OFF-BI-10004140
8207     Daytona Beach    ...           32114   South  OFF-AR-10004757
8579        Louisville    ...           40214   South  OFF-LA-10002368
4913      Johnson City    ...           37604   South  OFF-BI-10003727
8215      Murfreesboro    ...           37130   South  OFF-BI-10004506
2779     Pompano Beach    ...           33068   South  TEC-AC-10003433
4878         Pensacola    ...           32503   South  OFF-BI-10000201
5440           Jupiter    ...           33458   South  OFF-AR-10002335
3769           Hialeah    ...           33012   South  OFF-FA-10000490
7311             Miami    ...           33178   South  OFF-BI-10000145
5479             Miami    ...           33180   South  OFF-BI-10001097
4005           Roswell    ...           30076   South  OFF-AR-10003087
8317        Burlington    ...           27217   South  OFF-AR-10000422
7900           Memphis    ...           38109   South  TEC-AC-10003709
6597      Jacksonville    ...           32216   South  OFF-BI-10002557
9382             Tampa    ...           33614   South  OFF-AR-10001868
2605      Jacksonville    ...           32216   South  OFF-BI-10000591

             Category Sub-Category  \
2697       Technology     Machines
8488       Technology     Machines
683        Technology     Machines
509   Office Supplies      Binders
4297       Technology       Phones
9639        Furniture       Tables
3280  Office Supplies     Supplies
7583       Technology       Phones
4093       Technology     Machines
1454       Technology     Machines
5562       Technology      Copiers
8312       Technology       Phones
8236        Furniture       Chairs
994   Office Supplies      Binders
2848  Office Supplies      Binders
4128       Technology     Machines
7474        Furniture       Chairs
3580        Furniture       Tables
5320        Furniture       Tables
5300        Furniture       Tables
4881       Technology  Accessories
1155        Furniture       Tables
8699       Technology       Phones
8680  Office Supplies   Appliances
5301       Technology  Accessories
8993        Furniture       Tables
7846       Technology       Phones
1433        Furniture       Chairs
5185  Office Supplies      Storage
9033  Office Supplies      Binders
...               ...          ...
3381  Office Supplies    Envelopes
8850  Office Supplies      Binders
865   Office Supplies       Labels
3589  Office Supplies      Binders
7573  Office Supplies          Art
7805  Office Supplies          Art
2217  Office Supplies          Art
2120  Office Supplies      Binders
4155  Office Supplies      Binders
4300        Furniture  Furnishings
5893  Office Supplies      Binders
2665  Office Supplies      Binders
506   Office Supplies          Art
3687  Office Supplies      Binders
8207  Office Supplies          Art
8579  Office Supplies       Labels
4913  Office Supplies      Binders
8215  Office Supplies      Binders
2779       Technology  Accessories
4878  Office Supplies      Binders
5440  Office Supplies          Art
3769  Office Supplies    Fasteners
7311  Office Supplies      Binders
5479  Office Supplies      Binders
4005  Office Supplies          Art
8317  Office Supplies          Art
7900       Technology  Accessories
6597  Office Supplies      Binders
9382  Office Supplies          Art
2605  Office Supplies      Binders

                                           Product Name      Sales  Quantity  \
2697  Cisco TelePresence System EX90 Videoconferenci...  22638.480         6
8488  HP Designjet T520 Inkjet Large Format Printer ...   8749.950         5
683           Cubify CubeX 3D Printer Triple Head Print   7999.980         4
509   Fellowes PB500 Electric Punch Plastic Comb Bin...   6354.950         5
4297                            Samsung Galaxy Mega 6.3   4367.896        13
9639  Chromcraft Bull-Nose Wood Oval Conference Tabl...   4297.644        13
3280  Martin Yale Chadless Opener Electric Letter Op...   4164.050         5
7583                           Samsung Galaxy S4 Active   3499.930         7
4093                 Cisco 9971 IP Video Phone Charcoal   3080.000         7
1454  Hewlett-Packard Deskjet 3050a All-in-One Color...   3040.000         8
5562               Hewlett Packard LaserJet 3310 Copier   2999.950         5
8312                            Samsung Galaxy Mega 6.3   2939.930         7
8236       HON 5400 Series Task Chairs for Big and Tall   2803.920         5
994         Fellowes PB300 Plastic Comb Binding Machine   2715.930         7
2848         GBC DocuBind TL300 Electric Binding System   2690.970         3
4128  HP Designjet T520 Inkjet Large Format Printer ...   2624.985         3
7474            Global Deluxe High-Back Manager's Chair   2573.820         9
3580  Office Impressions End Table, 20-1/2"H x 24"W ...   2430.080         8
5320  Chromcraft Bull-Nose Wood Oval Conference Tabl...   2314.116         7
5300                  Hon Rectangular Conference Tables   2275.500        10
4881                      Logitech diNovo Edge Keyboard   2249.910         9
1155  Chromcraft 48" x 96" Racetrack Double Pedestal...   2244.480         7
8699  Samsung Galaxy S III - 16GB - pebble blue (T-M...   2239.936         8
8680  Honeywell Enviracaire Portable HEPA Air Cleane...   2104.550         7
5301  Plantronics CS510 - Over-the-Head monaural Wir...   1979.700         6
8993                       Balt Solid Wood Round Tables   1875.258         7
7846                                       Cisco SPA301   1871.880        12
1433                  High-Back Leather Manager's Chair   1819.860        14
5185                        Tennsco Single-Tier Lockers   1801.632         6
9033         GBC DocuBind TL300 Electric Binding System   1793.980         2
...                                                 ...        ...       ...
3381            Convenience Packs of Business Envelopes      2.896         1
8850  Wilson Jones Turn Tabs Binder Tool for Ring Bi...      2.892         2
865                                           Avery 482      2.890         1
3589                              Avery Durable Binders      2.880         1
7573      SANFORD Liquid Accent Tank-Style Highlighters      2.840         1
7805                                         Newell 310      2.816         2
2217                                     Nontoxic Chalk      2.816         2
2120                         Zipper Ring Binder Pockets      2.808         3
4155                         Zipper Ring Binder Pockets      2.808         3
4300  Eldon Regeneration Recycled Desk Accessories, ...      2.784         2
5893             Wilson Jones Suede Grain Vinyl Binders      2.780         1
2665  Newell 3-Hole Punched Plastic Slotted Magazine...      2.742         2
506             Rogers Handheld Barrel Pencil Sharpener      2.740         1
3687                            Avery Non-Stick Binders      2.694         2
8207                            Crayola Colored Pencils      2.624         1
8579                                          Avery 479      2.610         1
4913  Avery Durable Slant Ring Binders With Label Ho...      2.508         2
8215  Wilson Jones data.warehouse D-Ring Binders wit...      2.469         1
2779                          Maxell 4.7GB DVD+R 5/Pack      2.376         3
4878  Avery Triangle Shaped Sheet Lifters, Black, 2/...      2.214         3
5440                               DIXON Oriole Pencils      2.064         1
3769       OIC Binder Clips, Mini, 1/4" Capacity, Black      1.984         2
7311                         Zipper Ring Binder Pockets      1.872         2
5479                          Avery Hole Reinforcements      1.869         1
4005                            Staples in misc. colors      1.780         1
8317                        Pencil and Crayon Sharpener      1.752         1
7900                          Maxell 4.7GB DVD-R 5/Pack      1.584         2
6597                     Presstex Flexible Ring Binders      1.365         1
9382                        Prang Dustless Chalk Sticks      1.344         1
2605                                Avery Binder Labels      1.167         1

      Discount     Profit
2697       0.5 -1811.0784
8488       0.0  2799.9840
683        0.5 -3839.9904
509        0.0  3177.4750
4297       0.2   327.5922
9639       0.4 -1862.3124

In [45]:
#•	Find the mean of quantity for every region

df.groupby('Region')['Quantity'].mean()

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [60]:
#•	Find the mean of sales for every category

df.groupby('Category')['Sales'].mean()

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [49]:
#•	Find the max, min, sum of sales and profit for every category
df.groupby('Category')[['Sales','Profit']].agg(['max','min','sum'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th></th>
      <th colspan="3" halign="left">Sales</th>
      <th colspan="3" halign="left">Profit</th>
    </tr>
    <tr>
      <th></th>
      <th>max</th>
      <th>min</th>
      <th>sum</th>
      <th>max</th>
      <th>min</th>
      <th>sum</th>
    </tr>
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Furniture</th>
      <td>4416.174</td>
      <td>1.892</td>
      <td>741999.7953</td>
      <td>1013.127</td>
      <td>-1862.3124</td>
      <td>18451.2728</td>
    </tr>
    <tr>
      <th>Office Supplies</th>
      <td>9892.740</td>
      <td>0.444</td>
      <td>719047.0320</td>
      <td>4946.370</td>
      <td>-3701.8928</td>
      <td>122490.8008</td>
    </tr>
    <tr>
      <th>Technology</th>
      <td>22638.480</td>
      <td>0.990</td>
      <td>836154.0330</td>
      <td>8399.976</td>
      <td>-6599.9780</td>
      <td>145454.9481</td>
    </tr>
  </tbody>
</table>
</div>

In [52]:
#•	Find sum of sales and max profit for every segment

df.groupby('Segment').agg({'Sales':np.sum,'Profit':np.max})

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sales</th>
      <th>Profit</th>
    </tr>
    <tr>
      <th>Segment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Consumer</th>
      <td>1.161401e+06</td>
      <td>6719.9808</td>
    </tr>
    <tr>
      <th>Corporate</th>
      <td>7.061464e+05</td>
      <td>8399.9760</td>
    </tr>
    <tr>
      <th>Home Office</th>
      <td>4.296531e+05</td>
      <td>3919.9888</td>
    </tr>
  </tbody>
</table>
</div>

In [54]:
#•	For every segment find the mean of the discount

df.groupby('Segment')['Discount'].mean()

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [140]:
#•	For every segment find the most profitable customers

df1=df.groupby(['Segment'])['Profit'].max()
df1
df2=df.Profit
df[['Segment','Customer Name','Profit']][np.in1d(df2,df1)]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Segment</th>
      <th>Customer Name</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2623</th>
      <td>Home Office</td>
      <td>Tom Ashbrook</td>
      <td>3919.9888</td>
    </tr>
    <tr>
      <th>6826</th>
      <td>Corporate</td>
      <td>Tamara Chand</td>
      <td>8399.9760</td>
    </tr>
    <tr>
      <th>8153</th>
      <td>Consumer</td>
      <td>Raymond Buch</td>
      <td>6719.9808</td>
    </tr>
  </tbody>
</table>
</div>

In [117]:
#•	What are the top 5 categories that give maximum profit?
df.groupby('Sub-Category')['Profit'].max().reset_index().sort_values('Profit',ascending=False).head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sub-Category</th>
      <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>Copiers</td>
      <td>8399.9760</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Binders</td>
      <td>4946.3700</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Machines</td>
      <td>2799.9840</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Phones</td>
      <td>1228.1787</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Bookcases</td>
      <td>1013.1270</td>
    </tr>
  </tbody>
</table>
</div>

In [120]:
#•	What is the Total Sales, Quantity, Discount, Profit across Total US

df.groupby('Country')[['Sales','Quantity','Discount','Profit']].sum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sales</th>
      <th>Quantity</th>
      <th>Discount</th>
      <th>Profit</th>
    </tr>
    <tr>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>United States</th>
      <td>2.297201e+06</td>
      <td>37873</td>
      <td>1561.09</td>
      <td>286397.0217</td>
    </tr>
  </tbody>
</table>
</div>

In [178]:
#•	How many times has it taken more than 5 days from placing an order to shipping
df['Order Date']=pd.to_datetime(df['Order Date'])
df['Ship Date']=pd.to_datetime(df['Ship Date'])
df['Interval']=df['Ship Date']-df['Order Date']
print(df[df.Interval > '5 days']['Interval'].count())

1822

In [192]:
#•	Find the total number of orders in every category which has been shipped with a duration > 5 days
df['Order Date']=pd.to_datetime(df['Order Date'])
df['Ship Date']=pd.to_datetime(df['Ship Date'])
df['Interval']=df['Ship Date']-df['Order Date']
df1=df[df.Interval >'5 days']
df1.groupby('Category')['Order Date'].count().reset_index()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Furniture</td>
      <td>365</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Office Supplies</td>
      <td>1131</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Technology</td>
      <td>326</td>
    </tr>
  </tbody>
</table>
</div>

In [202]:
#•	What’s the percentage of items which has been shipped within 5 days
print(df[df.Interval < '5 days']['Order ID'].count()/df.shape[0]*100)
#df1["Percent"]

60.00600360216129

In [203]:
#•	What’s the percentage of items which has been shipped after 5 days

print(df[df.Interval > '5 days']['Order ID'].count()/df.shape[0]*100)

18.230938563137883